# Python cache
__pycache__/
*.py[cod]
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Streamlit generated folders
.streamlit/

# Jupyter & Streamlit
.ipynb_checkpoints/
*.ipynb_checkpoints
*.ipynb

# Secrets
.env